
* {
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(#F4FAFF, #B7ADCF);
    padding: .5rem 1.5rem;
    position: fixed;
    top: 0;
    width: 100%;
    height: 7.5vh;
    box-sizing: border-box;
    border-bottom: #535657 .125rem solid;
}

header h1 {
    text-align: left;
}

header nav {
    display: flex;
    justify-content: space-between;
    width: 20rem;
}

section {
    background-color: #B7ADCF;
    margin: 1rem auto;
    padding: 1rem;
    max-width: 70rem;
    border-radius: 1rem;
    border: .125rem solid #535657;
    box-shadow: #4F646F 1rem 1rem 5rem;
}

#banner h1 {
    font-size: 4rem;
    padding-top: 30%;
}

#banner h3 {
    font-size: 1.5rem;
}

#banner {
    background-image: url(../public/resources/Me1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 20%;
    height: 30rem;
    text-shadow: #4F646F .1rem .1rem 2rem, #B7ADCF .1rem .1rem 1rem;
    color: #F4FAFF;
    margin-bottom: 1rem;
    border-radius: .5rem;
}

html {
    background-color: #F4FAFF;
    box-shadow: inset #4F646F 5rem 0 25rem, inset #4F646F -5rem 0 25rem;
    height: 100vh;
    overflow: hidden;
}

#projectsContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    flex-wrap: wrap;
}

#projectsCard {
    background-color: #DEE7E7;
    padding: 1rem;
    margin: 1rem;
    border: .124rem solid #535657;
    border-radius: .5rem;
}

#projectsCard img {
    max-height: 10rem;
    border-radius: .5rem;
}

.contentContainer {
    overflow-y: auto;
    margin-top: 7.5vh;
    padding: 2.5vh 0;
    height: 92.5vh;
    box-sizing: border-box;
    scrollbar-color: #B7ADCF #4F646F;
}

p {
    font-size: 1.5rem;
    line-height: 2rem;
    text-wrap: stable;
    padding: 0 3rem;
}
